body {
  text-align: center;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}

.app-content {
  width: 80%;
  margin: 2em auto;
}

.app-container {
  margin: 0.5em auto;
}

.app-container h1 {
  margin: 0.1em;
}

#game-canvas {
  width: 100%;
  border: 0;
}

#pattern-box canvas {
  margin: 0.5em;
  padding: 5px;
  border: 2px solid black;
  vertical-align: middle;
  background: #d0d0d0;
}
