body {
  text-align: center;
}

.app-content {
  width: 80%;
  margin: 2em auto;
}

.app-container {
  margin: 0.5em auto;
}

.app-container h1 {
  margin: 0.1em;
}

#game-canvas {
  width: 100%;
  border: 0;
}

#pattern-box canvas {
  margin: 0.5em;
}
