body {
  text-align: center;
}

.app-container {
  width: 70%;
  margin: 5%;
}

.app-container h1 {
  margin: 0.1em;
}

#game-canvas {
  width: 100%;
  border: 0;
}

#pattern-box {
  float: right;
  width: 20%;
  margin-right: 2%;
  height: 100px;
  background-color: blue;
}
